.resultUpperPortion {
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
  margin-top: 25px;
}

.resultText {
  align-items: center;
  margin-bottom: 50px;
}
.resultUpperPortion > img {
  object-fit: contain;
  height: 100px;
  margin-right: 20px;
}
.resultLowerPortion {
  margin-left: 20px;
}

.result-container {
  width: 100vh;
  margin-left: 20px;
}
