.resultUpperPortion {
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
  margin-top: 25px;
}
.resultUpperPortion > img {
  object-fit: contain;
  height: 50px;
}
.resultLowerPortion {
  margin-left: 20px;
}

.result-container {
  width: 100vh;
  margin-left: 20px;
}
