.search-container {
  display: flex;
  border: 1px solid grey;
  margin-top: 25px;
  border-radius: 25px;
  width: 40vw;
  height: 40px;
  align-items: center;
  padding: 1px;
}

.search-container:hover {
  box-shadow: 2px 2px 2px grey;
}

.search-icon {
  flex: 0.2;
  color: grey;
  margin-left: 10px;
  margin-right: 10px;
}

.searchBox {
  border: none;
  outline: 0;
  width: 40vw;
  font-size: 18px;
}

.button-container {
  margin-top: 15px;
}

.button {
  margin: 10px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}
.search-icon2 {
  margin-right: 10px;
  margin-left: 10px;
}
