.searchPage-container {
  display: flex;
  align-items: center;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 100vw;
  border-bottom: 0.5px solid grey;
}
.searchBar > img {
  height: 50px;
  object-fit: contain;
  margin-top: 20px;
  margin-left: 20px;
}

.iconsBelowSearch {
  color: grey;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.searchArea {
  margin-left: 20px;
}

.resultCount {
  margin-left: 37px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}
